@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700;800;900&family=Inter:wght@300;600&family=JetBrains+Mono:wght@100&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,800&family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

.test {
    background: white;
    animation-direction: alternate;
}

.test:hover{
    animation-duration: .5s;
    animation-name: testimony;
    animation-fill-mode: forwards;
}

@keyframes testimony {
    from {
        background: linear-gradient(
            to top right,
            white 90%,
            white 0%,
            green 100%,
            green 0%
        );
    }

    20%{
        background: linear-gradient(
            to top right,
            white 70%,
            white 0%,
            green 100%,
            green 0%
        );
    }

    40%{
        background: linear-gradient(
            to top right,
            white 60%,
            white 0%,
            green 100%,
            green 0%
        );
    }

    60%{
        background: linear-gradient(
            to top right,
            white 40%,
            white 0%,
            green 100%,
            green 0%
        );
    }

    80%{
        background: linear-gradient(
            to top right,
            white 20%,
            white 0%,
            green 100%,
            green 0%
        );
    }

    to{
        background: linear-gradient(
            to top right,
            white 10%,
            white 0%,
            green 100%,
            green 100%
        );
    }
}

.card_test{
    @apply aspect-auto p-8 border-2 border-secondary rounded-3xl shadow-2xl shadow-gray-600 test;
}

.testimony_card {
   @apply aspect-auto p-8 border-2 border-secondary rounded-3xl bg-white hover:bg-tert/50 duration-300 ease-in shadow-2xl shadow-gray-600;
}

.active {
    @apply relative text-yellow-600 dark:text-yellow-800 w-auto before:-left-0.5 before:absolute before:-bottom-1 md:before:-bottom-3 before:w-full before:h-1 before:mx-auto before:mt-auto before:rounded-t-full before:bg-yellow-700
}

.nav_item {
    @apply relative before:absolute before:-bottom-1 md:before:-bottom-3 before:w-full before:h-1 before:origin-left before:mt-auto before:rounded-full before:bg-yellow-800 before:transition before:scale-x-0 group-hover:before:scale-x-100
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}